body {
    background-color: #FFFFFF;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 20px;
    font-family: Arial;
}

h1, h2 {
    font-family: Arial Rounded MT Bold;
}

header {
    background-color: #5D6C89;
    color: #FFFFFF;
    font-size: 1.1rem;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}

header p {
    font-size: 24px;
}

header a {
    color: #FFFFFF;
}

header h1 {
    color: #FEB06A;
    text-transform: uppercase;
    font-size: 3rem;
}

section {
    margin: 20px 0px 0px 0px;
}

section h2 {
    background-color: #FEB06A;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

section > div {
    padding: 10px 20px;
    background-color: #FBF6F3;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

section ul li {
    margin: 10px;
}

section a {
    color: #000000;
}

section a:hover {
    color: #36D6E7;
}

section table {
    border-collapse: collapse;
    width: 100%;
}

section table thead{
    background-color: #5D6C89;
    color: #FFFFFF;
}

section table th {
    padding: 10px;
    border: 1px solid grey;
}

section table td{
    padding: 7px;
    border: 1px solid grey;
}

.parent-l-r {
    white-space: nowrap;
    height: 200px;
}

.left, .right{
    display: inline-block;
    width: 50%;
    white-space: normal;
    vertical-align: top;
}

.vertLine {
    display: inline-block;
    border-right:3px dotted #5D6C89;
    height: 200px;
}

table.skills td {
    border: none;
}

form {
    padding: 10px 20px;
    background-color: #FBF6F3;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid grey;
}

form textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid grey;
}

form button {
    width: 100%;
    text-transform: uppercase;
    font-family: Arial Rounded MT Bold;
    color: #5D6C89;
    background-color: #FEB06A;
    font-size: 30px;
    border: none;
}

form button:hover{
    color: #FEB06A;
    background-color: #5D6C89;
    cursor:pointer;
}

footer {
    background-color: #5D6C89;
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
    margin-top: 20px;
}

footer a {
    color: #FFFFFF;
}
